pkgbase = linux-aarch64-7ji
	pkgver = 6.15.4
	pkgrel = 1
	url = https://kernel.org
	arch = aarch64
	license = GPL2
	makedepends = kmod
	makedepends = bc
	makedepends = dtc
	makedepends = uboot-tools
	makedepends = pahole
	makedepends = python
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.4.tar.xz
	source = 0001-rebase-local-changes-to-v6.11.patch.xz::https://github.com/7Ji-PKGBUILDs/linux-aarch64-7ji/releases/download/assets/sha256-44e5bc7e7d5a58c6e462ae53be86d80d45dcaa046e57369966d8648f39b41461-0001-rebase-local-changes-to-v6.11.patch.xz
	source = config
	sha256sums = 0eafd627b602f58d73917d00e4fc3196ba18cba67df6995a42aa74744d8efa16
	sha256sums = 44e5bc7e7d5a58c6e462ae53be86d80d45dcaa046e57369966d8648f39b41461
	sha256sums = 2f8f120aa8d8240267df9f5e7b6d9f9117cef389d3302c1ba69018b2d94b1616

pkgname = linux-aarch64-7ji
	pkgdesc = The Linux Kernel and module - almost mainline but with 7Ji's patches, for Amlogic, Rockchip and virt
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = uboot-legacy-initrd-hooks: to generate uboot legacy initrd images
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = linux-firmware-amlogic-ophub: complete firmware set for devices with Amlogic SoCs
	optdepends = wireless-regdb: to set the correct wireless channels of your country

pkgname = linux-aarch64-7ji-headers
	pkgdesc = Header files and scripts for building modules for linux kernel - almost mainline but with 7Ji's patches, for Amlogic, Rockchip and virt
	depends = pahole
